@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-green: #017432;
  --color-gold: #fee701;
  --color-orange: #e7601e;
  /* 
    incase of gold gradient use these colors 
    #e7601e, #fee701, #e7601e
    orange, gold, orange gradient
  */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-family: var(--font-cinzel-decorative), serif;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}